<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="sample.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <title>OkiuDB</title>
</head>

<body>
    <header>
        <li class="logo">OKIUDB</li>
        <li>operated by Odo's seminar.</li>
    </header>
    <main>
        <div id="app">
            <div class="search_container">科目 教員 学部学科など入力：<input type="text" v-model="search"></div>

            <p>条件で絞る</p>

            <p>
                <input type="radio" id="s_one" value="seasonall" v-model="season">
                <label for="s_one">すべての学期</label>

                <input type="radio" id="s_two" value="season0" v-model="season">
                <label for="s_two">通年</label>

                <input type="radio" id="s_three" value="season1" v-model="season">
                <label for="s_three">前期</label>

                <input type="radio" id="s_four" value="season2" v-model="season">
                <label for="s_four">後期</label>

            </p>

            <p>

                <input type="radio" id="f_one" value=" " v-model="form">
                <label for="f_one">すべての授業形態</label>

                <input type="radio" id="f_two" value="real" v-model="form">
                <label for="f_two">対面</label>

                <input type="radio" id="f_three" value="online" v-model="form">
                <label for="f_three">オンライン</label>

            </p>

            <p>

                <input type="checkbox" id="d_mon" value="月" v-model="days">
                <label for="d_mon">月曜</label>

                <input type="checkbox" id="d_tue" value="火" v-model="days">
                <label for="d_tue">火曜</label>

                <input type="checkbox" id="d_wed" value="水" v-model="days">
                <label for="d_wed">水曜</label>

                <input type="checkbox" id="d_thur" value="木" v-model="days">
                <label for="d_thur">木曜</label>

                <input type="checkbox" id="d_fri" value="金" v-model="days">
                <label for="d_fri">金曜</label>

                <input type="checkbox" id="d_sat" value="土" v-model="days">
                <label for="d_sat">土曜</label>
            </p>

            <p>

                <input type="checkbox" id="h_1" value="1" v-model="hour">
                <label for="h_1">１限</label>

                <input type="checkbox" id="h_2" value="2" v-model="hour">
                <label for="h_2">２限</label>

                <input type="checkbox" id="h_3" value="3" v-model="hour">
                <label for="h_3">３限</label>

                <input type="checkbox" id="h_4" value="4" v-model="hour">
                <label for="h_4">４限</label>

                <input type="checkbox" id="h_5" value="5" v-model="hour">
                <label for="h_5">５限</label>

                <input type="checkbox" id="h_6" value="6" v-model="hour">
                <label for="h_6">６限</label>

                <input type="checkbox" id="h_7" value="7" v-model="hour">
                <label for="h_7">７限</label>

            </p>


            <table>
                <tr>
                    <div class="lavel">
                        <th class="futa">科目番号</th>
                        <th class="futa">科目</th>
                        <th class="futa">学部/学科</th>
                        <th class="futa">担当教員</th>
                        <th class="futa">教室</th>
                        <th class="futa">学期/時期</th>
                    </div>


                </tr>

            </table>
            <div class="table-box" v-for="(value, key) in search_kamoku">

                <!-- <p> {{key}} </p> -->
                <p> {{value.kamoku}} </p>
                <p> {{value.gakubu}}<br>{{value.gakka}}</p>
                <p> {{value.tantou}}</p>
                <p> {{value.kyoushitsu}}</p>
                <p> {{value.gakki}}<br>{{value.niti}}{{value.gen}}</p>


            </div>

        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="app.js"></script>

</body>

</html>