@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

body{
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}


.logo{
  padding: 0;
  font-size: 250%;
  font-family: 'Ubuntu Mono', monospace;
}
li {
  display: inline;
  list-style-type: none;
  }


.search_container{
  position: relative;
  box-sizing: border-box;
  border: 2px solid #3879D9;
  display: block;
  padding: 3px 10px;
  border-radius: 3px;
  height: 2.3em;
  width: 500px;
  overflow: hidden;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}


/* ラジオボタン */

input[type=radio] {
display: none; /* ラジオボタンを非表示にする */
}

input[type=checkbox] {
display: none; /* ラジオボタンを非表示にする */
}

label {
  background-color: none;
  padding: 10px 20px;
  border-radius: 100px;
  border: 1.5px solid;
  border-color: black;
}

input[type=radio]:checked + label {
  background-color: orange;
  color: #fff;
  border:1px solid;
  border-color: #fff;
}

input[type=checkbox]:checked + label {
  background-color: orange;
  color: #fff;
  border:1px solid;
  border-color: #fff;
}


table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 5%;
}

table th,table td{
  
  padding: 10px 0;
  text-align: center;
}

table tr:nth-child(odd){
  background-color: #E8F6EF
}
  .e {
    width: 100px;
  }
  .futa{
    background-color: #4C4C6D;
    font-size: 15px;
    color:#eee;
  }

/* テーブルデザイン */
.table-box {
  margin-top: 10px;
  display: flex;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid;
  border-color: #303030;
  background-color: #DDDDDD;
}
.table-box p{
  padding-left: 20px;
}